* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

#blue {
    color: #1362DD;
}

#white {
    color: white;
}

#rose {
    color: #FFAAAA;
}

#gris {
    color: #C8C8FF;
}

.banner {
    background-color: #EBEBFF;
    padding: 10px;
    text-align: center;
}

.banner p {
    margin: 0;
    font-size: 14px;
    color: #320A37;
}

.banner a {
    color: #320A37;
    text-decoration: underline;
}

.navbar .nav-links ul {
    display: flex;
}

.nav-links ul li a {
    color: white;
    font-size: 14px;
    margin-left: 40px;
}

.navbar {
    margin-top: 30px;
    margin-left: 74px;
}



.first-section-wrapper {
	width: 1440px;
	margin: 0px auto;
    display: flex;
    border-radius: 16px;
    margin-top: 10px;
    justify-content: space-between;
}

.first-section-wrapper-right-container {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom-right-radius: 16px;
    align-items: center;
    border-top-right-radius: 16px;
}

.first-section-title {
    color: white;
    margin-right: 16px;
}

.first-section-wrapper-left-container {
    background-color: #1362DD;
    margin-left: 10px;
}

.first-section-paragraph {
    margin-right: 16px;
}


@media screen and (min-width: 1456px) {
    .first-section-title {
        margin-left: 114px;
    }

    .first-section-paragraph {
        margin-left: 114px;
    }

    .bouton-first-style {
        margin-left: 114px;
    }  
}

@media screen and (max-width: 1456px) {
    .first-section-wrapper {
        width: 98%;
    }

    .first-section-title {
        margin-left: 114px;
    }

    .first-section-paragraph {
        margin-left: 114px;
    }

    .bouton-first-style {
        margin-left: 114px;
    }    
}

@media screen and (max-width: 1250px) {
    .bouton-second-style {
        margin-left: 16px;
    }

    .first-section-title {
        margin-left: 16px;
    }

    .first-section-paragraph {
        margin-left: 16px;
    }

    .bouton-first-style {
        margin-left: 16px;
    }
}

@media screen and (max-width: 1155px) {
    .man-picture {
        margin-top: 70px;
    }

    .bouton-first-style {
        margin-bottom: 8px;
    }

    .first-section-bouton-container {
        flex-direction: column;
        display: flex;
    }

    .bouton-first-style,
    .bouton-second-style {
        max-width: 200px;
        text-align: center;
    }
}


/*tel*/

@media screen and (max-width: 1050px) {
    .first-section-wrapper {
        flex-direction: column;
    }

    .first-section-wrapper-left-container {
        border-bottom-left-radius: none !important;
        border-bottom-right-radius: none !important;
        border-top-right-radius: solid !important;
        border-top-left-radius: solid !important;
        border-radius: 16px;
    }

    .first-section-wrapper-left-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
        align-items: left;
    }

    .first-section-title {
        margin-top: 98px;
        margin-bottom: 24px;
        font-size: 40px;
    }

    .first-section-paragraph {
        margin-bottom: 24px;
    }

    .bouton-second-style {
        margin-bottom: 40px;
    }

    .first-section-wrapper-left-container {
        width: none;
    }

    .first-section-wrapper-right-container {
        width: none;
        background-color: none;
        margin-top: -62px;
    }

    .man-picture {
        max-width: 98% !important;
        width: 98% !important;
    }

    .tableau_picture {
        background-color:  #EBEBFF;
        padding-right: 9%;
        padding-left: 9%;
        margin-top: -10%;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        max-width: 80% !important;
        width: 80% !important;
    }

    .man-picture {
        border-top-right-radius: none;
    }


}

@media screen and (min-width: 1050px) {
    .first-section-wrapper-left-container {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
    }

    .first-section-title {
        margin-top: 140px;
        margin-bottom: 40px;
        font-size: 56px;
    }

    .first-section-paragraph {
        margin-bottom: 56px;
    }

    .first-section-wrapper-left-container {
        width: 906px;
    }

    .first-section-bouton-container {
        margin-bottom: 191px;
    }

    .first-section-wrapper-right-container {
        width: 506px;
        background-color: #EBEBFF;
    }

    .tableau_picture {
        max-width: 400px;
    }

    .man-picture {
        border-top-right-radius: 16px;
    }

    .tableau_picture {
        margin-top: -32.5px;
    }
}

.bouton-first-style {
    padding: 16px 32px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #1362DD;
}

.bouton-first-style {
    color: #3C1441;
    border: 1px solid #ffffff;
    background-image: -webkit-linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: all 450ms ease-in-out;
}
.bouton-first-style:hover {
    background-position: 100%;
    color: #ffffff;
}

.bouton-first-style:active {
    background-position: 0%;
    padding: 18px 34px;
    border-radius: 12px;
    background-image: -webkit-linear-gradient(30deg, #1f75ff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #1f75ff 50%, transparent 50%);
    font-size: 17px;
}

.bouton-second-style {
    padding: 16px 32px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: white;
    margin-right: 16px;
}

.bouton-second-style {
    color: white;
    border: 1px solid #ffffff;
    background-image: -webkit-linear-gradient(30deg, #1362DD 50%, transparent 50%);
    background-image: linear-gradient(30deg, #1362DD 50%, transparent 50%);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: all 450ms ease-in-out;
}

.bouton-second-style:hover {
    background-position: 100%;
    color: #3C1441;
}

.bouton-second-style:active {
    background-position: 0%;
    padding: 18px 34px;
    border-radius: 12px;
    background-image: -webkit-linear-gradient(30deg, rgb(255, 235, 235) 50%, transparent 50%);
    background-image: linear-gradient(30deg, rgb(255, 235, 235) 50%, transparent 50%);
    font-size: 17px;
}

.man-picture {
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 84%);
}

.main-section {
	width: 1440px;
	margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.main-section-title {
    color: #320A37;
}

.main-section-paragraph {
    font-size: 18px;
    color: #320A37;
}

.main-wrapper {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    border: solid;
    margin-right: 4px;
    margin-left: 4px;
    border-color: #3C144166;
    border-width: 1px;
    border-radius: 8px;
    transition: all 450ms ease-in-out;
}

.main-container:hover {
    background-color: #FFD2D2;
    box-shadow: 0 0 10px 0 #FFD2D2 inset, 0 0 20px 1px #FFD2D2;
    border: 1px solid #FFD2D2;
}

.main-container .main-container-first-picture {
    transition: all 450ms ease-in-out;
}

.main-container:hover .main-container-first-picture {
    background-color: #FFAAAA;
    box-shadow: 0 0 10px 0 #FFAAAA inset, 0 0 20px 1px #FFAAAA;
    border: 1px solid #FFAAAA;
}

.main-container-picture {
    display: flex;
}

.main-container-first-picture {
    margin-top: 24px;
    min-width: 16px;
    max-width: 16px;
    margin-left: 24px;
    padding: 12px 12px;
    border: solid;
    border-color: transparent;
    border-radius: 8px;
    border-width: 1px;
    background-color: #C8C8FF;
}

.main-container-second-picture {
    min-width: 16px;
    max-width: 16px;
    margin-top: 24px;
    margin-left: 8px;
    border: solid;
    padding: 12px;
    border-color: #320A37;
    border-width: 1px;
    border-radius: 8px;
}

.main-container-title {
    font-size: 20px;
    margin-left: 24px;
    margin-top: 24px;
    color: #320A37;
}

.main-container-paragraph {
    font-size: 16px;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #320A37;
}

@media screen and (max-width: 1456px) {
    .main-section {
        width: 98%;
    }
}

@media screen and (max-width: 850px) {
    .main-wrapper {
    flex-direction: column;
    }

    .main-container {
        margin-bottom: 8px;
    }

    .main-container-paragraph {
        margin-right: 12px;
    }

    .main-section-title {
        margin-top: 72px;
        margin-bottom: 24px;
        margin-right: 24px;
        margin-left: 24px;
        font-size: 32px;
    }

    .main-section-paragraph {
        margin-bottom: 40px;
        margin-right: 24px;
        margin-left: 24px;
    }

    .main-wrapper {
        margin-bottom: 72px;
    }
}

@media screen and (min-width:850px) {
    .main-container-paragraph {
        margin-right: 100px;
    }

    .main-section-title {
        margin-top: 120px;
        margin-bottom: 40px;
        margin-left: 24px;
        margin-right: 24px;
        font-size: 40px;
    }

    .main-section-paragraph {
        margin-bottom: 72px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .main-wrapper {
        margin-bottom: 120px;
    }
}

.second-section {
    display: flex;
    flex-direction: column;
    width: 1440px;
	margin: 0px auto;
    background-color: #F2F2F2;
    border-radius: 16px;
}

.second-section-top {
    display: flex;
    margin-top: 120px;
}

.second-section-top-paragraph {
    color: #320A37;
    font-size: 18px;
    margin-bottom: 56px;
}

.bouton-third-style {
    color: #3C1441;
    border: 1px solid #320A37;
    background-image: -webkit-linear-gradient(30deg, #F2F2F2 50%, transparent 50%);
    background-image: linear-gradient(30deg, #F2F2F2 50%, transparent 50%);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: all 450ms ease-in-out;
    padding: 16px 32px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #320A37;
  }
  
  .bouton-third-style:hover {
    background-position: 100%;
    color: #F2F2F2;
    box-shadow: 0 0 10px 0 #320A37 inset, 0 0 20px 1px #320A37;
    border: 1px solid #320A37;
  }

  .bouton-third-style:active {
    background-color: #58145f;
    color: #F2F2F2;
    padding: 20px 36px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: 0 0 10px 0 #58145f inset, 0 0 20px 1px #58145f;
    border: 1px solid #58145f;
  }

.second-section-bottom-container {
    display: flex;
}

.second-section-bottom-left,
.second-section-bottom-middle,
.second-section-bottom-right {
    display: flex;
    align-items: flex-start;
    margin-bottom: 120px;
}

.second-section-bottom-left,
.second-section-bottom-middle {
    border-right: solid;
    border-color: #3C144166;
    border-width: 1px;
}

.second-section-bottom-left-text-top {
    color: #320A37;
    font-weight: bold;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.second-section-bottom-left-text-bottom {
    color: #320A37;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 24px;
}

.logo1, .logo2, .logo3 {
    margin-left: 24px;
}

.second-section-top {
    border-width: 1px;
    align-items: center;
    justify-content: flex-start;
}

.second-section-bottom {
    padding-top: 72px;
    border-top: solid;
    border-width: 1px;
    border-color: #320A37;
    margin-top: 88px;
}

@media screen and (max-width: 1456px){
    .second-section {
        width: 98%;
    }
}

@media screen and (max-width: 1459px) and (min-width: 1139px){
    .second-section-top {
        margin-right: 100px;
    }

    .second-section-bottom{
        margin-left: 114px;
        margin-right: 114px;
    }

    .second-section-top {
        margin-left: 114px;
    }

    .tableau2 {
        margin-left: 50px;
    }

    .second-section-top-title {
        font-size: 32px;
        color: #320A37;
        margin-bottom: 48px;
    }
    
}

@media screen and (min-width: 1459px){
    .second-section-top {
        margin-right: 100px;
    }

    .second-section-bottom{
        margin-left: 114px;
        margin-right: 114px;
    }

    .tableau2 {
        margin-left: 160px;
    }

    .second-section-top-title {
        font-size: 40px;
        color: #320A37;
        margin-bottom: 48px;
    }

    .second-section-top {
        margin-left: 114px;
    }
}

@media screen and (max-width: 1139px) and (min-width: 938px){
    .second-section-top {
        margin-right: 0px;
    }

    .tableau2 {
        margin-left: 50px;
    }

    .second-section-top-title {
        font-size: 32px;
        color: #320A37;
        margin-bottom: 48px;
    }

    .second-section-top {
        margin-left: 16px;
    }

    .second-section-bottom{
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 938px){
    .second-section-top {
        margin-right: 0px;
        flex-direction: column;
    }

    .second-section-top-title {
        font-size: 32px;
        color: #320A37;
        margin-bottom: 48px;
    }

    .second-section-top {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 40px;
    }

    .second-section-bottom{
        margin-left: 0px;
        margin-right: 0px;
        border: none;
    }

    .second-section-bottom-container {
        flex-direction: column;
        align-items: center;
    }

    .second-section-bottom-middle,
    .second-section-bottom-left,
    .second-section-bottom-right {
        border-right: none;
        margin-left: none;
        margin-right: none;
        margin-bottom: 24px;
    }

    .second-section-bottom-middle {
        padding-right: 45px;
    }

    .second-section-bottom-right {
        padding-left: 2px;
    }

    .tableau2 {
        width: 100%;
        margin: none;
        padding: none;
        margin-top: 48px;
    }

    .second-section-top-right {
        text-align: center;
    }

    .second-section-bottom-right {
        margin-bottom: 40px;
    }

    .second-section-bottom {
        margin-top: -50px;
    }

    .second-section-top-paragraph {
        margin-bottom: 42px;
    }

    .second-section-top-title {
        margin-bottom: 24px;
    }
}

.third-section {
    width: 1440px;
	margin: 0px auto;
    background-color: transparent;
}

.third-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.third-section-wrapper-title {
    color: #320A37;
}

.bouton-third-style-test {
    color: #3C1441;
    border: 1px solid #320A37;
    background-image: -webkit-linear-gradient(30deg, white 50%, transparent 50%);
    background-image: linear-gradient(30deg, white 50%, transparent 50%);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: all 450ms ease-in-out;
    padding: 16px 32px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #EBEBFF;
    margin-bottom: 120px;
    margin-top: 72px;
  }
  
  .bouton-third-style-test:hover {
    background-position: 100%;
    color: #3C1441;
    box-shadow: 0 0 10px 3px #EBEBFF inset, 0 0 20px 3px #EBEBFF;
    border: 1px solid #EBEBFF;
  }

  .bouton-third-style-test:active {
    background-image: -webkit-linear-gradient(30deg, #f2f2ff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #f2f2ff 50%, transparent 50%);
    background-position: 0%;
    color: #5d2065;
    padding: 20px 36px;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 115px;
    margin-top: 67px;
    box-shadow: 0 0 10px 0 #f2f2ff inset, 0 0 20px 1px #f2f2ff;
    border: 1px solid #f2f2ff;
  }

@media screen and (max-width: 1456px) {
    .third-section {
        width: 98%;
    }
}

@media screen and (max-width: 821px) {
    .bouton-third-style-second {
        display: none;
    }

    .third-section-wrapper-logo-container {
        display: flex;
        flex-direction: column;
    }

    .third-section-wrapper-title {
        font-size: 32px;
        margin-top: 72px;
        margin-bottom: 24px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .third-section-wrapper-paragraph {
        margin-bottom: 40px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .tokyo {
        padding: 33.53px 91.51px;
        background-color: #F2F2F2;
        border-radius: 8px;
        margin-bottom: 8px;
    }
    
    .swiss {
        padding: 77px 66.5px;
        background-color: #F2F2F2;
        border-radius: 8px;
        margin-bottom: 8px;
    }
    
    .axeria {
        padding: 63px 79.68px;
        margin-bottom: 72px;
        background-color: #F2F2F2;
        border-radius: 8px;
    }
}

@media screen and (min-width: 821px) {
    .third-section-wrapper-title {
        font-size: 40px;
        margin-top: 120px;
        margin-bottom: 40px;
    }

    .third-section-wrapper-paragraph {
        margin-bottom: 72px;
    }

    .tokyo {
        padding: 33.53px 124.01px;
        background-color: #F2F2F2;
        border-radius: 8px;
    }
    
    .swiss {
        padding: 77px 99px;
        background-color: #F2F2F2;
        border-radius: 8px;
    }
    
    .axeria {
        padding: 63px 112.18px;
        background-color: #F2F2F2;
        border-radius: 8px;
    }
}

.fourth-section {
    width: 1440px;
	margin: 0px auto;
    background-color: transparent;
    background-color: #3C1441;
    border-radius: 16px;
}

@media screen and (max-width: 1456px) {
    .fourth-section {
        width: 98%;
    }
}

.fourth-section-wrapper {
    display: flex;
    flex-direction: column;
}

.fourth-section-wrapper-paragraph {
    font-size: 18px;
}

.fourth-section-wrapper-bottom {
    display: flex;
    justify-content: center;
    margin-left: 114px;
    margin-right: 114px;
}

.fourth-section-wrapper-bottom-left,
.fourth-section-wrapper-bottom-middle,
.fourth-section-wrapper-bottom-right {
    display: flex;
    align-items: flex-start;
}

.fourth-section-wrapper-bottom-text {
    font-size: 16px;
    color: white;
}

.fourth-section-wrapper-bottom-logo {
    max-width: 40px;
}

.fourth-section-wrapper-bottom-text-special {
    font-size: 16px;
    color: white;
}

@media screen and (max-width: 1120px) and (min-width: 729px) {
    .fourth-section-wrapper-top {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .fourth-section-wrapper-title {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .fourth-section-wrapper-paragraph {
        margin-bottom: 40px;
    }

    .picture {
        max-width: 485px;
    }

    .fourth-section-wrapper-bottom {
        flex-direction: column;
        align-items: center;
    }

    .fourth-section-wrapper-top {
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .fourth-section-wrapper-bottom-right {
        margin-left: -15px;
    }

    .fourth-section-wrapper-bottom-left,
    .fourth-section-wrapper-bottom-middle {
        margin-bottom: 24px;
    }

    .fourth-section-wrapper-bottom {
        margin-bottom: 40px;
    }

    .fourth-section-wrapper-bottom-logo {
        margin-right: 16px;
    }

    .fourth-section-wrapper-top {
        margin-left: 114px;
        margin-right: 114px;
    }
}

@media screen and (min-width: 1120px) {
    .fourth-section-wrapper-top {
        display: flex;
        justify-content: space-between;
    }

    .fourth-section-wrapper-top {
        margin-left: 114px;
        margin-right: 114px;
    }

    .fourth-section-wrapper-title {
        font-size: 40px;
        margin-bottom: 48px;
    }

    .fourth-section-wrapper-bottom-left {
        border-right: solid;
        border-color: rgba(255, 255, 255, 0.4);
        border-width: 1px;
    }

    .fourth-section-wrapper-bottom-text-special {
        border-right: solid;
        border-color: rgba(255, 255, 255, 0.4);
        border-width: 1px;
        margin-right: 20px;
        margin-left: 16px;
        padding-right: 20px;
    }

    .fourth-section-wrapper-top {
        border-bottom: solid;
        border-width: 1px;
        border-color: rgba(255, 255, 255, 0.4);
        padding-bottom: 56px;
        margin-top: 113px;
        margin-bottom: 72px;
    }

    .fourth-section-wrapper-bottom-middle {
        margin-left: 24px;
    }
    
    .fourth-section-wrapper-bottom-right {
        margin-right: 16px;
    }

    .fourth-section-wrapper-bottom-text {
        margin-right: 20px;
        margin-left: 16px;
    }

    .fourth-section-wrapper-bottom {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 729px) {
    .fourth-section-wrapper-top {
        display: flex;
        flex-direction: column-reverse;
    }

    .fourth-section-wrapper-title {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .fourth-section-wrapper-paragraph {
        margin-bottom: 40px;
    }

    .picture {
        max-width: 485px;
    }

    .fourth-section-wrapper-bottom {
        flex-direction: column;
        align-items: center;
    }

    .fourth-section-wrapper-top {
        margin-top: 40px;
        margin-bottom: 32px;
        justify-content: center;
        align-items: center;
    }

    .fourth-section-wrapper-bottom-right {
        margin-left: -15px;
    }

    .fourth-section-wrapper-bottom-left,
    .fourth-section-wrapper-bottom-middle {
        margin-bottom: 24px;
    }

    .fourth-section-wrapper-bottom {
        margin-bottom: 40px;
    }

    .fourth-section-wrapper-bottom-logo {
        margin-right: 16px;
    }

    .picture {
        max-width: 485px;
    }

    .fourth-section-wrapper-top {
        margin-left: 16px;
        margin-right: 16px;
    }

    .fourth-section-wrapper-bottom {
        margin-left: 16px;
        margin-right: 16px;
    }

    .fourth-section-wrapper-bottom-right {
        margin-left: 0px;
    }
}

@media screen and (max-width: 520px) {
    .picture {
        max-width: 100%;
        min-width: 100%;
    }
}

.fifth-section {
    width: 1440px;
	margin: 0px auto;
    background-color: transparent;
    border-radius: 16px;
}

@media screen and (max-width: 1456px) {
    .fifth-section {
        width: 98%;
    }
}

.fifth-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth-section-wrapper-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 450ms ease-in-out;
}

.fifth-section-wrapper-title {
    color: #320A37;
    text-align: center;
}

.fifth-section-wrapper-container-left,
.fifth-section-wrapper-container-middle,
.fifth-section-wrapper-container-right {
    border: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    transition: all 450ms ease-in-out;
}

.fifth-section-wrapper-container-left:hover,
.fifth-section-wrapper-container-middle:hover,
.fifth-section-wrapper-container-right:hover {
    background-color: #EBEBFF;
    box-shadow: 0 0 10px 0 #EBEBFF inset, 0 0 20px 1px #EBEBFF;
    border: 1px solid #EBEBFF;
}

.double-logo,
.fifth-section-wrapper-container-title,
.fifth-section-wrapper-container-paragraph {
    margin-left: 24px;
}

.fifth-section-wrapper-container-title {
    font-size: 20px;
    color: #320A37;
}

.fifth-section-wrapper-container-paragraph {
    font-size: 16px;
    color: #320A37;
}

.double-logo {
    margin-top: 24px;
    margin-bottom: 24px;
}

.fifth-section-wrapper-container-paragraph {
    margin-top: 24px;
    margin-bottom: 24px;
    min-width: 344px;
    min-height: 88px;
    max-width: 344px;
    max-height: 88px;
    margin-right: 24px;
}

.fifth-section-wrapper-container-left,
.fifth-section-wrapper-container-middle {
    margin-right: 8px;
}

.fifth-section-wrapper-title {
    margin-left: 16px;
    margin-right: 16px;
}

@media screen and (max-width: 729px) {
    .fifth-section-wrapper-title {
        margin-top: 72px;
        font-size: 32px;
        margin-bottom: 40px;
    }

    .fifth-section-wrapper-container {
        flex-direction: column;
    }

    .fifth-section-wrapper-container-right,
    .fifth-section-wrapper-container-left,
    .fifth-section-wrapper-container-middle {
        margin: 4px 0px !important;
        max-width: 327px;
    }

    .fifth-section-wrapper-container-paragraph {
        max-width: 279px;
        min-width: 279px;
    }
}

@media screen and (min-width: 729px) {
    .fifth-section-wrapper-title {
        margin-top: 120px;
        font-size: 40px;
        margin-bottom: 72px;
    }

}

@media screen and (max-width: 1233px) {
    .fifth-section-wrapper-container-left {
        margin-bottom: 8px;
    }

    .fifth-section-wrapper-container-middle {
        margin-bottom: 8px;
    }
}

.sixth-section {
    width: 1440px;
	margin: 0px auto;
    background-color: #1362DD;
    border-radius: 16px;
    max-height: 629px;
}

.sixth-section-wrapper {
    display: flex;
    justify-content: space-between;
}

.sixth-section-wrapper-container-left {
    display: flex;
    flex-direction: column;
    max-width: 492px;
}

.sixth-section-wrapper-container-left-title {
    font-size: 40px;
    color: #FFFFFF;
}

.sixth-section-wrapper-container-left-paragraph {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bouton-first-style-test {
    border-radius: 4px;
    background-color: #1362DD;
    width: 271px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bouton-first-style-test {
    color: #3C1441;
    border: 1px solid #ffffff;
    background-image: -webkit-linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: all 450ms ease-in-out;
  }
  .bouton-first-style-test:hover {
    background-position: 100%;
    color: #ffffff;
  }

  .bouton-first-style-test:active {
    background-position: 0%;
    width: 280px;
    height: 55px;
    border-radius: 12px;
    background-image: -webkit-linear-gradient(30deg, #1f75ff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #1f75ff 50%, transparent 50%);
    font-size: 17px;
  }

  @media screen and (max-width: 1456px) {
    .sixth-section {
        width: 98%;
    }

    .plein-logo {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1300px) {
    .plein-logo {
        margin-right: 0px;
    }
}


@media screen and (min-width: 1300px) {
    .plein-logo {
        margin-right: 154.2px;
    }
}

@media screen and (max-width: 861px) {
    .sixth-section-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sixth-section {
        max-height: none;
    }

    .sixth-section-wrapper-container-left {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 40px;
    }

    .sixth-section-wrapper-container-right {
        margin-right: 16px;
        margin-left: 16px;
    }

    .bouton-first-style-test {
        margin-bottom: 40px;
        margin-left: 16px;
        margin-right: 16px;
        align-self: center;
    }

    .sixth-section-wrapper-container-right {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (min-width: 861px) {
    .sixth-section-wrapper {
        justify-content: space-between;
    }
  
    .sixth-section-wrapper-container-left {
        margin-left: 114px;
        margin-top: 120px;
    }

    .sixth-section-wrapper-container-right {
        margin-right: 114px;
    }

    .bouton-first-style-test:active {
        margin-left: -5px;
        margin-top: -2.5px;
      }
}

.footer-wrapper {
    width: 1440px;
	margin: 0px auto;
    background-color: #ffffff;
    border-radius: 16px;
}

@media screen and (max-width: 1456px) {
    .footer-wrapper {
        width: 98%;
    }
}

.footer-text-end {
    display: flex;
}

.footer-contact {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
}

.footer-links-column-adresse,
.footer-links-column-assurance,
.footer-links-column-cybersecurite,
.footer-links-column-ressources,
.footer-links-column-stoink {
    margin-left: 4px;
    margin-right: 4px;
}

.title-column-footer {
    margin-bottom: 25px !important;
    font-weight: bold;
}

.footer-links-column-adresse ul li a,
.footer-links-column-assurance ul li a,
.footer-links-column-cybersecurite ul li a,
.footer-links-column-ressources ul li a,
.footer-links-column-stoink ul li a{
    color: #320A37;
    text-decoration: none;
    font-size: 14px;
}

.footer-links-column-adresse ul li,
.footer-links-column-assurance ul li,
.footer-links-column-cybersecurite ul li,
.footer-links-column-ressources ul li,
.footer-links-column-stoink ul li{
    margin-bottom: 8px;
}

.footer-logo {
    margin-bottom: 40px;
}

.footer-text {
    width: 888px;
    font-size: 11px;
    color: #320A37;
}

.footer-text-end {
    justify-content: space-between;
}

.footer-text-end-logo {
    margin-left: 24px;
}

.stoik-last-column {
    margin-right: 24px;
}

@media screen and (max-width: 861px) and (min-width: 638px) {
    .footer-logo {
        margin-top: -35px;
    }

    .footer-container {
        margin-left: 24px;
    }

    .footer-text-end-logo {
        margin-right: 24px;
    }

    .group {
        margin-right: 24px;
    }

    .footer-links-column-adresse,
    .footer-links-column-assurance,
    .footer-links-column-cybersecurite,
    .footer-links-column-ressources,
    .footer-links-column-stoink {
        width: 184px;
    }
}

@media screen and (min-width: 861px) {
    .footer-logo {
        margin-top: -35px;
    }

    .footer-container {
        margin-left: 124px;
    }

    .footer-text-end-logo {
        margin-right: 126px;
    }

    .group {
        margin-right: 108px;
    }

    .footer-links-column-adresse,
    .footer-links-column-assurance,
    .footer-links-column-cybersecurite,
    .footer-links-column-ressources,
    .footer-links-column-stoink {
        width: 184px;
    }
}

@media screen and (max-width: 638px) {
    .footer-contact {
        flex-wrap: wrap;
    }

    .group {
        display: none;
    }

    .footer-links-column-cybersecurite {
        order: 1;
        margin-left: 24.5px;
    }

    .footer-links-column-assurance {
        order: 2;
        margin-left: 30px;
    }

    .footer-links-column-ressources {
        order: 3;
        margin-left: 24.5px;
        margin-right: 22.5px;
    }

    .footer-links-column-stoink {
        order: 4;
        margin-left: 28.5px;
        margin-right: 59px;
    }

    .footer-links-column-adresse {
        order: 5;
        margin-left: 24.5px;
        margin-right: 140px;
    }

    .espace-column {
        padding-bottom: 40px;
    }

    .espace-column-last {
        padding-bottom: -10px !important;
    }

    .footer-text-end-logo,
    .footer-text,
    .footer-logo {
        display: none;
    }

    .footer-telephone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-top: solid 1px;
        margin-left: 24.5px;
        margin-right: 24.5px;
        border-color: #3c144164;
    }
    
    .footer-logo-logo-telephone {
        max-width: 190px;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    
    .group-telephone {
        width: 155px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 638px) {
    .footer-logo-logo-telephone,
    .footer-text-telephone,
    .group-telephone,
    .footer-telephone {
        display: none;
    }

    .footer-text {
        margin-bottom: 40px;
    }
}

.footer-text-end-logo {
    margin-top: -60px;
}